# See http://help.github.com/ignore-files/ for more about ignoring files.

dist/
tmp/
out-tsc/
.build/
node_modules
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.iml
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
.DS_Store
Thumbs.db
lerna-debug.log
